.btn-lg {
    min-width:120px ;
    height: 60px;
    border-radius: $radius-xxs;
    padding-left: 50px;
    padding-right: 50px;
}

.btn-md {
    min-width:100px ;
    height: 50px;
    border-radius: $radius-xxs;
    padding-left: 30px;
    padding-right: 30px;
    
}

.btn-sm {
    min-width:80px ;
    height: 40px;
    border-radius: $radius-xxs;
}

.btn-default-color {
    background-color: $green-900;
    color: #fff;

    &:hover {
        background-color: $green-700;
        color: #fff;
    }
}

.radius-btn {
    border-radius: $radius-xxs;
}

.btn1-size {
    font-size: $btn1-size;
}

.btn2-size {
    font-size: $btn2-size;
}

.btn3-size {
    font-size: $btn3-size;
}

// Dropdown item hover
.dropdown-item {
    transition: color $transition-base;
    
    &:hover {
        color: $green-700;
    }
}

.btn3-size {
    font-size: $btn3-size;
}

.stroke-btn {
    border: 1px solid $border-on-light;
    border-radius: $radius-xxs;

    &:hover {
        border-color: $border-brand;
    }
}

.btn-whiteToGreen-color {
    background-color: $white-100;
    color: $green-700;

    &:hover {
        background-color: $green-700;
        color: $white-100;
    }
}

.btn-greenToWhite-color {
    background-color: $green-700;
    color: $white-100;

    &:hover {
        background-color: $white-100;
        color: $green-700;
    }
}

.btn-greenTolight-color{
    background-color: $green-700;
    color: $white-100;

    &:hover {
        background-color: $green-500;
        color: $white-100;
    }
}