.input-lg{

    height: 60px;
    font-size: $body1-size;
    line-height: $lh-body-lg;
    padding: 12px 16px;
    border-radius: $radius-xxs;
}


.input-md{
    height: 50px;
    font-size: $body2-size;
    line-height: $lh-body-sm;
    padding: 10px 14px;
    border-radius: $radius-xxs;
}

.input-sm{
    height: 40px;
    font-size: $body3-size;
    line-height: $lh-body-sm;
    padding: 8px 12px;
    width: 100%;
    border-radius: $radius-xxs; 
}

.form-select{
    &:hover {
        color: $green-700;
    }
}

.form-select option{
    color: $gray-900;
}

.mustInput{
    color: $red;
    margin: 4px;
}
