
// 全域設定
body {
    font-family: $font-family-base;
    color: $gray-900; 
    -webkit-font-smoothing: antialiased;
}

// 標題共用設定
h1, h2, h3, h4, h5, h6 {
    font-weight: $fw-semibold;
    
}

// 各級標題設定
h1 {
    font-size: $h1-font-size;
    line-height: $lh-150; // 1.5
}

h2 {
    font-size: $h2-font-size;
    line-height: $lh-150; // 1.5
}

h3 {
    font-size: $h3-font-size;
    line-height: $lh-150; // 1.5
}

h4 {
    font-size: $h4-font-size;
    line-height: $lh-180; // 1.8
} 

h5 {
    font-size: $h5-font-size;
    line-height: $lh-180; // 1.8
}

h6 {
    font-size: $h6-font-size;
    line-height: $lh-180; // 1.8
}

// Subtitles
.text-subtitle-1 { font-size: 20px; font-weight: $fw-medium; line-height: $lh-190; }
.text-subtitle-2 { font-size: 18px; font-weight: $fw-medium; line-height: $lh-190; }
.text-subtitle-3 { font-size: 16px; font-weight: $fw-medium; line-height: $lh-190; }

// Body
.text-body-1     { font-size: 18px; font-weight: $fw-regular; line-height: $lh-190; }
.text-body-2     { font-size: 16px; font-weight: $fw-regular; line-height: $lh-190; }

// Font color helpers
.font-primary { color: red; }
.font-secondary { color: $font-secondary; }