.bg-color {
    background-color: $green-900;
}

.footer-custom {
    // margin-top: -100px;
    padding-top: 120px;
    padding-bottom: 3rem;
    // position: relative;
    z-index: 1; // 層級比卡片低，乖乖當背景
}

.footer-card {

    position: relative;
    z-index: 10;

}

.footer-section {
    margin-bottom: -150px;
    padding-top: 5rem;
    padding-bottom: 5rem;
}