
// Bootstrap套件
@import "../../node_modules/bootstrap/scss/functions";

// =========================
// Color Variables (色彩參數)
// =========================

//定義基礎色票
$gray-900: #292929;
$gray-700: #575757;
$gray-500: #A6A6A6;
$gray-300: #D6D6D6;
$gray-200: #EBEBEB;
$gray-100: #F7F7F7;

$white-100: #ffffff;
$white-70:  rgba(#ffffff, 0.7);
$white-50:  rgba(#ffffff, 0.5);
$white-30:  rgba(#ffffff, 0.3);
$white-20:  rgba(#ffffff, 0.2);
$white-10:  rgba(#ffffff, 0.1);

$green-900: #005135;
$green-700: #008657;
$green-500: #00AF72; // 品牌主色 (Brand)
$green-300: #61D9AF;
$green-100: #ABEAD4;
$green-50:  #F8F9FA;

$red: #FA574F; // Accent

// Font 
$font-primary: $gray-900;  
$font-secondary: $gray-700;  
$font-tertiary: $gray-500;  
$font-brand: $green-700; 
$font-on-dark: $white-100;

// Stroke 
$border-on-light: $gray-300; 
$border-on-dark: $white-30; 
$border-brand: $green-700; 

// Background 
$bg-default: $gray-100; 
$bg-subtle: $green-900; 

//bootstrap變數
$primary: $green-700; 
$secondary: $gray-700;
$dark: $gray-900;
$body-color: $gray-700;

//設定主題色
$theme-colors: (
  "primary": $primary,
  "secondary": $secondary,
  "dark": $dark,
  "body": $body-color,
);


// ===============================
// Typography Variables (字體參數)
// ===============================

// Font Family
$font-family-base: 'Inter','Noto Sans TC', sans-serif;

// Font Weights
$fw-regular: 400; 
$fw-medium:  500; 
$fw-semibold: 600; 

// Letter Spacing
$ls-base:   0px;
$ls-tight: -1px; // ⚠️ 注意：CSS 的 -1 必須要有單位 (px)

// Line Heights
$lh-130: 1.3;
$lh-140: 1.4;
$lh-150: 1.5;
$lh-160: 1.6;
$lh-180: 1.8;
$lh-190: 1.9;
$lh-200: 2.0;

 // for Desktop
$lh-d-heading-sm: 1.4; // for Desktop
$lh-d-heading-md: 1.5; // for Desktop 
$lh-d-heading-lg: 1.8; // for Desktop
$lh-m-heading-sm: 1.5; // for Mobile
$lh-m-heading-lg: 1.6; // for Mobile
$lh-m-heading-xs: 1.3; // for Mobile
$lh-sub: 1.9; // Subtitle
$lh-body-lg: 1.9; // Body
$lh-body-sm: 2.0; // Body
$lh-btn: 1.4; // Button

// --- Heading (Noto Sans TC - 中文系統) ---
// [Desktop]
$h1-size-zh: 48px;  
$h2-size-zh: 40px;  
$h3-size-zh: 32px;  
$h4-size-zh: 24px;  
$h5-size-zh: 20px;  
$h6-size-zh: 18px;  
// [Mobile]
$h1-size-zh-m: 36px;
$h2-size-zh-m: 32px;
$h3-size-zh-m: 28px;
$h4-size-zh-m: 22px;

// Subtitle Sizes
$sub1-size: 20px;
$sub2-size: 18px;
$sub3-size: 16px;

// Body Text Sizes
$body1-size: 18px;
$body2-size: 16px;
$body3-size: 14px;

// Button Text Size
$btn1-size: 16px; 
$btn2-size: 14px;
$btn3-size: 12px;

// --- Heading (Inter - 英文系統) ---
// [Desktop]
$h1-size-en: 52px;  
$h2-size-en: 40px;
$h3-size-en: 32px;
$h4-size-en: 24px;
$h5-size-en: 20px;
$h6-size-en: 18px;

// [Mobile] 
$h1-size-en-m: 36px;
$h2-size-en-m: 32px;
$h3-size-en-m: 28px;
$h4-size-en-m: 22px;

// Subtitle Sizes
$sub1-size-en: 18px;
$sub2-size-en: 16px;
$sub3-size-en: 14px;

// Body Text Sizes
$body1-size-en: 20px;
$body2-size-en: 18px;
$body3-size-en: 16px;


// =============================================
// Animation Variables (動畫參數)
// =============================================
$transition-base: all 0.3s ease-out; // 300ms
$anim-duration-entry: 0.5s; // 500ms
$anim-distance-entry: 200px; // Y軸位移
$anim-curve-entry:  ease-out;


// =============================================
// Radius (圓角)
// =============================================

$radius-xxs: 4px; // for buttons and inputs
$radius-xs:  8px; // for cards and modals

// for Bootstrap 
$border-radius:     $radius-xxs;  
$border-radius-sm:  $radius-xxs;  
$border-radius-lg:  $radius-xs; 

// =============================================
// Shadow (陰影)
// =============================================
$my-custom-shadow: 0 4px 16px 0 rgba(0, 0, 0, 0.08);
$box-shadow: $my-custom-shadow;

@import "../../node_modules/bootstrap/scss/variables";
@import "../../node_modules/bootstrap/scss/mixins";
// @import "../../node_modules/bootstrap/scss/root";
@import "../../node_modules/bootstrap/scss/reboot"; // Reset


