// 變數與工具 (最優先)
@import "variables"; 
@import "mixins";

// 基礎樣式 (Base)
@import "base/typography";  
@import "base/utilities";


// 版面 (Layout) - 步驟一說要先做 Header/Footer
@import "layout/header";
@import "layout/footer";

// 組件 (Components)
@import "components/button";
@import "components/card";

// 頁面 (Pages)
@import "pages/home";